* {
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  padding: 30px;
  width: 600px;
  box-shadow: 0 0 8px #ddd;
  border-radius: 25px;
}

.container h1 {
  margin-bottom: 20px;
  text-align: center;
}

.questions-block {
  margin: 10px 0;
  border-bottom: 1px solid #ddd;
}
.questions-block h3 {
  padding: 5px 0;
}
.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.more-btn {
  border: none;
  padding: 10px;
  background-color: transparent;
  font-size: 26px;
  transition: 0.3s ease-in;
}

.answer {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 200ms linear, max-height 200ms linear;
}

.active {
  opacity: 1;
  max-height: 9em;
  transition: all 200ms linear;
  will-change: opacity, max-height;
  padding-bottom: 20px;
}

.active-btn {
  transform: rotate(180deg);
  transition: 0.3s ease-in;
}
